<input
  formControlName="name"
  type="text"
  class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
  placeholder="Enter Name"
  minlength="3"
/>
<p
  *ngIf="registerForm.controls.name.touched && registerForm.controls.name.dirty && registerForm.controls.name.errors?.['required']"
  class="text-red-400"
>
  Field is required
</p>
<p
  *ngIf="registerForm.controls.name.touched && registerForm.controls.name.dirty && registerForm.controls.name.errors?.['minlength']"
  class="text-red-400"
>
  Minimum
  {{ registerForm.controls.name.errors?.['minlength'].requiredLength }}
  characters length is required You have written in total
  {{ registerForm.controls.name.errors?.['minlength'].actualLength }}
  characters
</p>
